{% extends 'base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
    <h1>Expenses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>ExpenseType</th>
                <td>{{ expense.expenseType }}</td>
            </tr>
            <tr>
                <th>TotalAmount</th>
                <td>{{ expense.TotalAmount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_expenses_index') }}">back to list</a>

    <a href="{{ path('app_expenses_edit', {'id': expense.id}) }}">Modifier</a>

    {{ include('expenses/_delete_form.html.twig') }}
{% endblock %}
