{% extends 'base.html.twig' %}

{% block title %}Trips{% endblock %}

{% block body %}
    <h1>Trips</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trip.id }}</td>
            </tr>
            <tr>
                <th>TripDate</th>
                <td>{{ trip.tripDate ? trip.tripDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ trip.origin }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ trip.destination }}</td>
            </tr>
            <tr>
                <th>Mileage</th>
                <td>{{ trip.mileage }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ trip.unit }}</td>
            </tr>
            <tr>
                <th>Context</th>
                <td>{{ trip.context }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ trip.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trip.description }}</td>
            </tr>
            <tr>
                <th>BillableClient</th>
                <td>{{ trip.billableClient ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trips_index') }}">back to list</a>

    <a href="{{ path('app_trips_edit', {'id': trip.id}) }}">edit</a>

    {{ include('trips/_delete_form.html.twig') }}
{% endblock %}
